Django==1.7.1
MySQL-python==1.2.5
django-admin-sortable2==0.3.1
django-mptt==0.6.1
# twython-django==1.5.2  pypi package version problem, dl from https://github.com/ryanmcgrath/twython-django
twython==3.2.0  # dependancy of twython-django
django-http-status==0.2

# dev:
django-extensions==1.4.8
ipython==2.3.1
