{% extends 'web/main.html' %}
{% load mptt_tags %}

{% block page_content %}
    <section id="legal">
 		<div class="container">
 			<div class="row">
 				<div class="summary">
                    {{ chunk.text }}
					<a href="{% url 'new_comment' 1 0 %}" class="btn btn-primary pull-right">Add your summary</a>
                </div>
			</div>

            <div class="row">
					{% recursetree chunk.comments.all   %}
						<div class="col-xs-12 post-reply">
							<div class="ratings">
								<div class="upvote fa fa-arrow-up"></div>
								<div class="score">50</div>
								<div class="downvote fa fa-arrow-down"></div>
							</div>
							<div class="short-description">{{ node.text }}</div>
							<div class="reply-button"><a href="#">Comment summary</a></div>

							{{ children }}

						</div>
					{% endrecursetree %}
			</div>

        </div>
    </section>
{% endblock %}