{% extends 'web/main.html' %}
{% load mptt_tags %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'miniprint_js' %}"></script>
{% endblock extrahead %}

{% block scripts %}

        <script src="{{ STATIC_URL }}web/js/markdown/lib/marked.js"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function (event) {
                markedData = marked($('.chunk-text').text());
                $('.chunk-text').html(markedData);
            });
        </script>
{% endblock %}

{% block page_content %}
    <section id="legal">
 		<div class="container">
 			<div class="row">
 				<div class="summary well ">
                    <div class="chunk-text">{{ chunk.text }}</div>
                    <div class="pull-right">
						<span class="from_document_link">
                            {{ chunk.type_full_str }}
                            from document:
                            <a href="{% url 'document' chunk.document.id %}">{{ chunk.document.company.name }} - {{ chunk.document.title }}</a></span>


					</div>

                </div>
                <a href="{% url 'new_comment' 1 0 %}" class="btn btn-primary pull-right">Add your summary</a>
			</div>

            <div class="row">
				{% recursetree chunk.comments.all   %}
					<div class="col-xs-12 post-reply">
						<div class="ratings vote_wrap">
							<div class="upvote vote_link fa fa-arrow-up {% if node.id in voted_comments_up %}voted_this{% endif %}" data-target_model="comment" data-target_id="{{ node.id }}" data-score="1"></div>
							<div class="score">{{ node.discuss_score }}</div>
							<div class="downvote vote_link fa fa-arrow-down {% if node.id in voted_comments_down %}voted_this{% endif %}" data-target_model="comment" data-target_id="{{ node.id }}" data-score="-1"></div>
						</div>
						<div class="short-description">{{ node.text }}</div>
						<div class="col-sm-6">Written by: <strong> {{ node.user.get_full_name }}</strong></div>
                        <div class="col-sm-6">
                        <div class="reply-button"><a href="{% url 'new_comment' chunk.id node.id %}">Reply</a></div>
                        </div>
						{{ children }}

					</div>
				{% endrecursetree %}
			</div>

        </div>
    </section>
{% endblock %}