{% extends 'web/main.html' %}
{% block page_content %}
    <section id="legal">
 		<div class="container">
 			<div class="row">
 				<div class="summary">These Terms provide that all disputes between you and Koding
						will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR RIGHT TO
						GO TO COURT to assert or defend your rights under this contract (except for
						matters that may be taken to small claims court). Your rights will be
						determined by a NEUTRAL ARBITRATOR and NOT a judge or jury and your claims
						cannot be brought as a class action. Please review the 'Arbitration
						Agreement' section below for the details regarding your agreement to
						arbitrate any disputes with Koding.	</div>
						<a href="{% url 'new_comment' 1 0 %}" class="btn btn-primary">Add your summary</a>
			</div>

            <div class="row">
                <div class="col-xs-12 short">
					<div class="ratings">
					<div class="upvote fa fa-arrow-up"></div>
						<div class="score">50</div>
						<div class="downvote fa fa-arrow-down"></div>
					</div>
                    <div class="short-description">We don't go to court. We get arbitrary judge to decide.</div>
					<div class="reply-button"><a href="#">Comment summary</a></div>
                <div class="col-xs-12 post-reply">
					<div class="ratings">
					<div class="upvote fa fa-arrow-up"></div>
						<div class="score">50</div>
						<div class="downvote fa fa-arrow-down"></div>
					</div>
                    <div class="short-description">HeyJOE di si šta si jeo pobogu?</div>
					<div class="reply-button"><a href="#">Reply</a></div>
				<div class="col-xs-12 post-reply">
					<div class="ratings">
					<div class="upvote fa fa-arrow-up"></div>
						<div class="score">50</div>
						<div class="downvote fa fa-arrow-down"></div>
					</div>
                    <div class="short-description">	 TO COURT to assert or defend your rights under this contract (except for
						matters that may be taken to small claims court). Your rights will be
						determined by a NEUTRAL ARBITRATOR and NOT a judge or jury and your claims
</div>
					<div class="reply-button"><a href="#">Reply</a></div>
                </div>

                </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}