{% extends 'web/main.html' %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'miniprint_js' %}"></script>
{% endblock extrahead %}

{% block page_content %}
    <section id="legal">
    	<div class="container">
	    	<h2>{{ document.company.name }} - {{ document.title }}</h2>
            <div class="tos">
                <p class="last-modified">(last modified on {{ document.timestamp|date:'DATETIME_FORMAT' }})</p>
                <hr />

                {% for chunk in document.chunks.all %}
                    <div class="row">
                        <div class="col-xs-5 short">
                            {% if chunk.is_scorable and chunk.top_comment %}
                                <div class="ratings vote_wrap">
                                    <div class="upvote vote_link fa fa-arrow-up {% if chunk.top_comment.id in voted_comments_up %}voted_this{% endif %}" data-target_model="comment" data-target_id="{{ chunk.top_comment.id }}" data-score="1"></div>
                                    <div class="score">{{ chunk.top_comment.discuss_score }}</div>
                                    <div class="downvote vote_link fa fa-arrow-down {% if chunk.top_comment.id in voted_comments_down %}voted_this{% endif %}" data-target_model="comment" data-target_id="{{ chunk.top_comment.id }}" data-score="-1"></div>
                                </div>
                                <div class="short-description">{{ chunk.top_comment.text }}</div>
                            {% endif %}
                            {% if chunk.is_scorable %}
                                <a href="#" class="btn btn-primary">Add your summary</a>
                                {% if chunk.top_comment %}
                                    <div class="other-comments"><a href="#">Other comments <span class="badge">42</span></a></div>
                                {% else %}
                                    <div class="other-comments"><a href="#">No comments yet</a></div>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="col-xs-7 ">
                            <div class="media long-description">
                                <div class="media-body">
                                    {% if chunk.is_scorable %}
                                        <div class="media-body categorization">
                                            <div class="btn-group-vertical" data-toggle="buttons">
                                                  <label class="btn btn-default active">
                                                        <input type="radio" name="options" id="option1" autocomplete="off" checked><span class=" glyphicon glyphicon-ok-circle" aria-hidden="true"></span>Good
                                                  </label>
                                                  <label class="btn btn-default">
                                                        <input type="radio" name="options" id="option2" autocomplete="off"> Neutral
                                                  </label>
                                                  <label class="btn btn-default">
                                                    <input type="radio" name="options" id="option3" autocomplete="off"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>Bad
                                                  </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ chunk.text }}
                                </div>


                            </div>
                        </div>

                    </div><!--/.row-->
                {% endfor %}{# document.chunks.all #}

                <div class="row">
                    <div class="col-xs-5 short">
                        <div class="ratings">
                        <div class="upvote fa fa-arrow-up"></div>
                            <div class="score">50</div>
                            <div class="downvote fa fa-arrow-down"></div>
                        </div>
                        <div class="short-description">We don't go to court. We get arbitrary judge to decide.</div>
                        <a href="#" class="btn btn-primary	">Add your summary</a>
                        <div class="other-comments"><a href="#">Other comments  <span class="badge">42</span></a></div>

                    </div>

                    <div class="col-xs-7 ">
                        <div class="media long-description">
                            <div class="media-body">
                                <div class="media-body categorization">
                                <div class="btn-group-vertical" data-toggle="buttons">
                                      <label class="btn btn-default active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked><span class=" glyphicon glyphicon-ok-circle" aria-hidden="true"></span>Good
                                      </label>
                                      <label class="btn btn-default">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> Neutral
                                      </label>
                                      <label class="btn btn-default">
                                        <input type="radio" name="options" id="option3" autocomplete="off"> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>Bad
                                      </label>
                                </div>

                            </div>
                                These Terms provide that all disputes between you and Koding
                                will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR RIGHT TO
                                GO TO COURT to assert or defend your rights under this contract (except for
                                matters that may be taken to small claims court). Your rights will be
                                determined by a NEUTRAL ARBITRATOR and NOT a judge or jury and your claims
                                cannot be brought as a class action. Please review the 'Arbitration
                                Agreement' section below for the details regarding your agreement to
                                arbitrate any disputes with Koding.
                            </div>


                        </div>
                    </div>

                </div><!--/.row-->

            </div>
        </div>
    </section>

{% endblock %}