{% extends extends_template_name %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'miniprint_js' %}"></script>
{% endblock extrahead %}
{% block scripts %}

        <script src="{{ STATIC_URL }}web/js/markdown/lib/marked.js"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function (event) {
                $('.chunk-text').each(function(){
                    markedData = marked($(this).text());
                    $(this).html(markedData);
                });
            });
        </script>
{% endblock %}

{% block page_content %}
    <section id="legal">
    	<div class="container">
	    	<h2>{{ document.company.name }} - {{ document.title }}</h2>
            <div class="tos">
                <div class="col-sm-7">
                    <p class="last-modified">(last modified on {{ document.timestamp|date:'DATETIME_FORMAT' }})</p>
                </div>
                <div class="col-sm-5">
                    <div class="progress" data-toggle="tooltip" data-placement="bottom" title="User friendliness of legal documents">
                        <div style="width: {{ document.percentage }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ document.percentage }}" role="progressbar" class="progress-bar color1">
                            <span class="bar-width">{{ document.percentage }}%</span>
                        </div>
                    </div>
                </div>
                <hr />

                {% for chunk in document.chunks.all %}
                    <div class="row">
                        <div class="col-xs-5 short">
                            {% if scoring_enabled and chunk.is_scorable and chunk.top_comment %}
                                <div class="ratings vote_wrap">
                                    <div class="upvote vote_link fa fa-arrow-up {% if chunk.top_comment.id in voted_comments_up %}voted_this{% endif %}" data-target_model="comment" data-target_id="{{ chunk.top_comment.id }}" data-score="1"></div>
                                    <div class="score">{{ chunk.top_comment.discuss_score }}</div>
                                    <div class="downvote vote_link fa fa-arrow-down {% if chunk.top_comment.id in voted_comments_down %}voted_this{% endif %}" data-target_model="comment" data-target_id="{{ chunk.top_comment.id }}" data-score="-1"></div>
                                </div>
                            {% endif %}

                            {% if not scoring_enabled and chunk.is_scorable and chunk.top_comment  %}
                                <span class="score_readonly">top summary on MINIPRINT:</span>
                            {% endif %}

                            <div class="short-description">
                                {{ chunk.top_comment.text }}
                            </div>
                            {% if chunk.top_comment %}
                                <div><strong>Written by: </strong> {{ chunk.top_comment.user.get_full_name}}</div>
                            {% endif %}



                            {% if chunk.is_scorable %}
                                {% if scoring_enabled  %}
                                    <a href="{% url 'new_comment' chunk.id chunk.top_comment.id|default:'0' %}" class="btn btn-primary">Add your summary</a>
                                    {% if chunk.top_comment %}
                                        <div class="other-comments"><a href="{% url 'chunk' chunk.id %}">Other comments <span class="badge">{{ chunk.comments.count }}</span></a></div>
                                    {% else %}
                                        <div class="other-comments"><a href="{% url 'chunk' chunk.id %}">No comments yet</a></div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="col-xs-7 ">
                            <div class="media long-description {% if chunk.discuss_score >= 5 %}good{% endif %} {% if chunk.discuss_score <= -2  %}bad{% endif %}">
                                <div class="media-body">
                                    {% if scoring_enabled and chunk.is_scorable %}
                                        <div class="media-body categorization">
                                            <div class="ratings vote_wrap">
                                                <div class="upvote vote_link fa fa-arrow-up {% if chunk.id in voted_chunks_up %}voted_this{% endif %}" data-target_model="chunk" data-target_id="{{ chunk.id }}" data-score="1"></div>
                                                <div class="score">{{ chunk.discuss_score }}</div>
                                                <div class="downvote vote_link fa fa-arrow-down {% if chunk.id in voted_chunks_down %}voted_this{% endif %}" data-target_model="chunk" data-target_id="{{ chunk.id }}" data-score="-1"></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="chunk-text">{{ chunk.text }}</div>
                                    {% if chunk.is_scorable and not scoring_enabled %}
                                        <div class="score_readonly">
                                            paragraph score on MINIPRINT:
                                            <span class="score">{{ chunk.discuss_score }}</span>
                                        </div>
                                    {% endif %}

                                </div>


                            </div>
                        </div>

                    </div><!--/.row-->
                {% endfor %}{# document.chunks.all #}

            </div>
        </div>
    </section>

{% endblock %}