{% extends 'web/main.html' %}

{% block page_content %}
<section id="new-comment">
    <div class="container">

        <h2>New comment</h2>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <textarea class="form-control" readonly>{{ text }}</textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
            <form action="" method="post">
                        <textarea class="form-control"  name="{{form.text.name }}" id="id_text" ></textarea>
                <br />
                        <input type="submit" class="btn btn-default" value="Post">
                        {% csrf_token %}
                    </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}